
@model SchemaTableEditModel

@{
    ViewBag.Title = "EditTable";
}

<h2>Таблица:  @Model.EditedObjectName</h2>


<table>
    <tr>
        <td>
            Имя таблицы
        </td>
        <td>
            @Html.xInput(settings =>
            {
                settings.BindTextTo = "Table.Name";
                settings.Label = "Имя таблицы";
                settings.Height = 20;
                settings.Width = 400;

            })
        </td>
    </tr>
    <tr>
        <td>
            Примечание
        </td>
        <td>
            @Html.xInput(settings =>
            {
                settings.BindTextTo = "Table.Description";
                settings.Label = "Примечание";
                settings.Height = 30;
                settings.Width = 600;
            })
        </td>
    </tr>
</table>


<br>
@Html.xButton(settings =>
{
    settings.Disabled_Bind = nameof(Model.SaveButtonDisabled);
    settings.Text = "Сохранить";
})
<br>

@section scripts {
}

